<form action="/sources/1/save_all">
<h3>Save Sources</h3>
Save source adapters to specified YAML file (defaults to sources.yml in db/migrate).
<p>
Does not delete existing source adapters. Delete those by hand if necessary.
</p>
<input name="yaml_file" value="db/migrate/sources.yml"/><br/>
<p>
<input type="submit" value="Save all sources"/>
</form>