<%=link_to 'Refresh records','refresh',:id=>@source.id%>

<table>
  <tr><th>Object</th><th>Attribute</th><th>Value</th></tr>
<%  @object_values.each do |x|%>
  <tr><td><%=x.object%></td><td><%=x.attrib%></td><td><%=x.value%></td></tr>
<%  end%>
</table>
